# Build
/build/

#Xcode user private stuff
/VSPDriver.xcodeproj/project.xcworkspace/xcuserdata/
/VSPDriver.xcodeproj/xcuserdata
/xcuserdata/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
