# Build
/build/

# Xcode stuff
*/xcshareddata/
*/xcuserdata/
*/project.xcworkspace/xcuserdata/
*/project.xcworkspace/xcshareddata/
*/project.xcworkspace

/QT/
/Release/
/VSPSetup.build/
/VSPController.build/
/VSPClientUI.build/
/XCBuildData/

VSPClientUI/xcode/Release/
VSPClientUI/xcode/VSPClientUI.build/
VSPClientUI/xcode/XCBuildData/
VSPController/xcode/Release/
VSPController/xcode/VSPController.build/
VSPSetup/xcode/Release/
VSPSetup/xcode/VSPSetup.build/

vspremove.sh 

Info*.xml
entitlements*.xml
.DS*
.private

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
