# Build
/build/

# Xcode stuff
/VSPDriver.xcodeproj/xcshareddata/
/VSPDriver.xcodeproj/xcuserdata/
/VSPDriver.xcodeproj/project.xcworkspace/xcuserdata/
/VSPDriver.xcodeproj/project.xcworkspace/xcshareddata/
/project.xcworkspace
/project.xcworkspace/xcuserdata/
/project.xcworkspace/xcshareddata/
/xcshareddata/
/xcuserdata/

Info*.xml
entitlements*.xml

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
