<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Virtual Serial Port Controller</string>
	<key>CFBundleExecutable</key>
	<string>VSPClientUI</string>
	<key>CFBundleIconFile</key>
	<string>vspclient.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VSPClientUI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>VSP Driver Setup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vspctl</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.2</string>
	<key>LSUIElement</key>
	<false/>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>LSVisibleInClassic</key>
	<true/>
	<key>NOTE</key>
	<string>Copyright © 2025 by EoF Software Labs</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Permit Virtual Serial Port to send, write or save files.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Permit Virtual Serial Port to send, write or save files.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Permit Virtual Serial Port to send, write or save files.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Permit VPS Controller to redirect data from serial port to a network connection.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Permit Virtual Serial Port to write data to network volume path.</string>
	<key>NSPrefPaneIconFile</key>
	<string>vspclient.icns</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Shows informative messages about the state of the VSP driver.</string>
	<key>OSBundleUsageDescription</key>
	<string>Permit VSP Controller to manage virtual serial ports.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>vspclient_512x512.png</string>
	<key>UIPrerenderedIcon</key>
	<false/>
</dict>
</plist>
